@import '_mixins/responsiveScreenSize';
@import '_mixins/colors';
@import '_mixins/typography';
main {
  .mainContent {
    @include horizontalTablet {
      width: 90rem;
    }
  }
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  @include horizontalTablet {
    flex-direction: row;
  }
  .ProfileImgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      max-width: 50%;
      height: auto;
      border-radius: 50%;
      margin: 1rem;
    }
  }
  .InfoContainer {
    .TitleContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.5rem;
      color: $titleColor;
      h1 {
        font-size: $mobileTitleSize;
      }
      p {
        font-size: $mobileSmallerTitleSize;
      }
    }
    .InfoContent {
      background-color: $accentColor;
      display: flex;
      flex-direction: column;
      margin: 0.8rem;
      border-radius: 5px;
      padding: 0.8rem;
      .AboutMe {
        p {
          margin-bottom: 1rem;
          font-size: $mobileTextSize;
        }
      }
      .LanguageIcon {
        display: flex;
        justify-content: space-between;
        span {
          font-size: $mobileLanguageIconSize;
        }
        .Html {
          color: #f3632c;
        }
        .Css {
          color: #049be4;
        }
        .Js {
          color: #f4dc1c;
        }
        .node {
          color: #7dbd42;
        }
        .React {
          color: #53c1de;
        }
        .Angular {
          color: #dc0030;
        }
        .Git {
          color: #f05033;
        }
      }
    }
  }
}
