@import '_mixins/responsiveScreenSize';
@import '_mixins/colors';
@import '_mixins/typography';

main {
  justify-content: center;
  background-color: $mainColor;
  display: flex;
  .MainConatiner {
    width: 95%;
    display: flex;
    flex-direction: column;
    @include laptop {
      flex-direction: row;
    }
    .ProfileImgContainer {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      .ProfileImgContent {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-width: 60%;
          height: auto;
          border-radius: 50%;
          margin: 1rem;
          // @include laptop {
          //   max-width: 90%;
          // }
        }
      }
    }
    .ProfileImgContainer {
      @include laptop {
        width: 80%;
      }
    }
    .InfoContainer {
      @include laptop {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .TitleContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        color: $titleColor;
        h1 {
          font-size: $XSMobileTitleSize;
          @include mobile {
            font-size: $mobileTitleSize;
          }
          @include verticalTablet {
            font-size: $tabletTitleSize;
          }
          @include laptop {
            font-size: $laptopTitleSize;
          }
        }
        p {
          font-size: $XSMobileSmallerTitleSize;
          @include mobile {
            font-size: $mobileSmallerTitleSize;
          }
          @include verticalTablet {
            font-size: $tabletSmallerTitleSize;
          }
          @include laptop {
            font-size: $laptopSmallerTitleSize;
          }
        }
      }
      .InfoContent {
        background-color: $accentColor;
        display: flex;
        flex-direction: column;
        margin: 0.8rem;
        border-radius: 5px;
        padding: 0.8rem;
        @include verticalTablet {
          padding: 2rem;
        }
        @include laptop {
          flex-direction: row;
        }
        .AboutMe {
          margin-right: 1rem;
          p {
            margin-bottom: 1rem;
            font-size: $mobileTextSize;
            @include verticalTablet {
              font-size: $tabletTextSize;
            }
            @include laptop {
              font-size: $laptopTextSize;
            }
          }
        }
        .LanguageIcon {
          display: flex;
          justify-content: space-between;
          @include laptop {
            flex-wrap: wrap;
            align-items: center;
            max-width: 7rem;
          }
          span {
            display: flex;
            justify-content: center;
            width: 45px;
            height: auto;
            font-size: $mobileLanguageIconSize;
            @include verticalTablet {
              font-size: $tabletLanguageIconSize;
            }
            @include laptop {
              font-size: $laptopLanguageIconSize;
            }
          }
          .Html {
            color: #f3632c;
          }
          .Css {
            color: #049be4;
          }
          .Js {
            color: #f4dc1c;
          }
          .node {
            color: #7dbd42;
          }
          .React {
            color: #53c1de;
          }
          .Angular {
            color: #dc0030;
          }
          .Git {
            color: #f05033;
          }
        }
      }
    }
  }
}
