@import '_mixins/typography';
@import 'navBar';
@import 'footer';
@import 'aboutMe';
@import 'projects';

*,
body,
div,
h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: $mainFontFmaily;
  // min-height: 100%;
  // background-color: $mainColor;
}
