// FONT STYLE
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
$mainFontFmaily: 'Nunito', sans-serif;

// FONT SIZE
// Smaller mobiles
$XSMobileTitleSize: 1.6rem;
$XSMobileSmallerTitleSize: 1rem;

//Mobile
$mobileTitleSize: 2.2rem;
$mobileSmallerTitleSize: 1.2rem;
$mobileTextSize: 1rem;
//Tablet
$tabletTitleSize: 3rem;
$tabletSmallerTitleSize: 1.5rem;
$tabletTextSize: 1.4rem;
//desktop
$desktopTitleSize: 3.8rem;
$desktopSmallerTitleSize: 1.5rem;
$desktopTextSize: 1.5rem;
//DesktopXLarge
$desktopXLTitleSize: 5rem;
$desktopXLSmallerTitleSize: 1.6rem;

// EXPERIANCE ICON SIZE
//Mobile
$mobileLanguageIconSize: 1.5rem;
//Tablet
$tabletLanguageIconSize: 2rem;
//Desktop
$desktopLanguageIconSize: 3rem;
//Desktop Large
$desktopXLLanguageIconSize: 2.5rem;

// SOCIAL LINKS
// Mobile
$mobileSocialsSize: 3rem;
//Tablet
$tabletSocialsSize: 3.5rem;
//Desktop
$desktopSocialsSize: 4.5rem;
